@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cormorant Infant", sans-serif;
  height: 100%;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in Webkit browsers (Safari, Chrome) */
}
html {
  height: 100%;
  font-size: 62.5%;
  /* overflow-x: hidden; */
}
li {
  padding: 2rem 1rem;
  cursor: pointer;
  list-style: none;
}
li:hover {
  transform: scale(1.2);
}

/* Header Css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: rgba(236, 208, 70, 0.875);
}
.logo {
  width: 60%;
}

.nav-list {
  display: flex;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  gap: 4rem;
}

/* Based on conditions */
.nav-buttons {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
.navbar-icon {
  display: none;
}
.navbar-x {
  display: none;
}
/* search-bar */
.search-bar {
  width: 80% !important;
  height: 4.5rem;
  font-size: 3rem !important;
  margin: 0 auto;
  margin-top: 8rem;
}
/* Movies */
.movies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  /* border: 2px solid red; */
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}

/* Movie */
.movie-container {
  position: relative;
  cursor: pointer;
  /* border: 2px solid red; */
}
.is-open .moive-img {
  filter: brightness(30%);
}
.movie-click-container {
  position: absolute;
  top: 50%;
  width: 80%;
  right: 50%;
  height: 80%;
  transform: translate(50%, -50%);
  /* border: 2px solid red; */
  color: whitesmoke;
  font-size: 1.7rem;
  text-align: center;
}
.movie-click-container p {
  padding: 1rem;
}
.strong {
  color: rgb(236, 208, 70);
}
.moive-img {
  width: 100%;
}

/* footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  padding: 1rem;
  color: rgba(236, 208, 70);
}

.footer a {
  text-decoration: none;
  margin: 0 10px;
  color: rgba(236, 208, 70);
}

/* Styling for links on hover */
.footer a:hover {
  text-decoration: underline;
}

/* MediaQuries */
@media (min-width: 1300px) {
  .logo {
    width: 15%;
  }
}
@media (max-width: 1300px) {
  .logo {
    width: 20%;
  }
}
@media (max-width: 1100px) {
  .logo {
    width: 30%;
  }
  .nav-buttons {
    display: flex;
    z-index: 1000;
  }
  .nav-bar {
    background-color: rgba(236, 208, 70, 0.875);
    -webkit-backdrop-filter: blur(5px);
    color: black;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in;
  }
  .nav-list {
    flex-direction: column;
    gap: 0px !important;
  }
  .active .nav-bar {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(-1%);
  }
  .movies-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-content {
    flex-direction: column;
    font-size: 1.4rem;
  }
  .footer-content p {
    order: 2;
  }
}

@media (max-width: 900px) {
  .logo {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .logo {
    width: 50%;
  }
  .search-bar {
    height: 3.5rem;
    font-size: 2rem !important;
  }
  .movies-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .movie-click-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .logo {
    width: 40%;
  }
}
